<template name="header">
	<header class="navbar">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="nav-collapse collapse">
        			<ul class="nav">
						<li class="{{activeRouteClass 'ingredientSubmit'}}">
						<a href="{{ingredientSubmitPath}}">Submit Ingredient</a>
						</li>
						<li class="{{activeRouteClass 'ingredientsSweet'}}">
           				 <a href="{{ingredientsSweetPath}}">Sweet</a>
          				</li>
          				<li class="{{activeRouteClass 'ingredientsFlavour'}}">
           				 <a href="{{ingredientsFlavourPath}}">Flavour</a>
          				</li>
          				<li class="{{activeRouteClass 'ingredientsBitter'}}">
           				 <a href="{{ingredientsBitterPath}}">Bitter</a>
          				</li>
          				<li class="{{activeRouteClass 'ingredientsSour'}}">
           				 <a href="{{ingredientsSourPath}}">Sour</a>
          				</li>
          				<li class="{{activeRouteClass 'ingredientsSalty'}}">
           				 <a href="{{ingredientsSaltyPath}}">Salty</a>
          				</li>
          				<li class="{{activeRouteClass 'ingredientsSpice'}}">
           				 <a href="{{ingredientsSpicePath}}">Spice</a>
          				</li>

					</ul>

				</div>

				<ul class="nav pull-right">
          			<li>{{loginButtons}}</li>
        		</ul>
   			</div>
   		</div>
    </header>
</template>
