<template name="ingredientsSweet">
	{{>ingredientList options}}
</template>

<template name="ingredientsAll">
	{{>ingredientList options}}
</template>

<template name="ingredientsFlavour">
	{{>ingredientList options}}
</template>

<template name="ingredientsSalty">
	{{>ingredientList options}}
</template>

<template name="ingredientsSour">
	{{>ingredientList options}}
</template>

<template name="ingredientsBitter">
	{{>ingredientList options}}
</template>

<template name="ingredientsSpice">
	{{>ingredientList options}}
</template>

<template name="ingredientList">
{{#each ingredientsWithRank}}
{{> ingredientItem}}
{{/each}}



</template>