<template name="ingredientSubmit">

	<form class="main">
		<label for="title">TITLE</label>
		<input name="title" type="text" value="" placeholder="Title of ingredient" />

		<label for="aka">AKA</label>
		<input name="aka" type="text" value="" placeholder="Also known as" />

		<label for="color">COLOUR</label>
        <input type="text" name="color" class="form-control bscp" value="#8fff00" id="cp1" >

		<label for="flavorIntensity">FLAVOUR INTENSITY</label>
		<input name="flavorIntensity" type="text" class="slider" value="" placeholder="Flavour Intensity" />

		<label for="sweetness">SWEETNESS</label>
		<input name="sweetness" type="text" value="" placeholder="Sweetness" />

		<label for="bitterness">BITTERNESS</label>
		<input name="bitterness" type="text" value="" placeholder="Bitterness" />

		<label for="sourness">SOURNESS</label>
		<input name="sourness" type="text" value="" placeholder="Sourness" />

		<label for="spiciness">SPICINESS</label>
		<input name="spiciness" type="text" value="" placeholder="Spiciness" />

		<label for="url">URL</label>
		<input name="url" type="text" value="" placeholder="wiki URL" />

		<label for="benefits">BENEFITS</label>
		<input name="benefits" type="text" value="" placeholder="benefits" />

		<input type="submit" value="Submit" class="btn btn-primary"/>

	</form>
</template>