<template name="ingredientSubmit">

	<form class="main">
		<label for="title">TITLE</label>
		<input name="title" type="text" value="" placeholder="Title of ingredient" />

		<label for="aka">AKA</label>
		<input name="aka" type="text" value="" placeholder="Also known as" />

		<label for="color">COLOUR</label>
        <input type="text" name="color" class="form-control bscp" value="#8fff00" id="cp1" />

		<label for="flavorIntensity">FLAVOUR INTENSITY</label>
		<input  type="text" class="flavorIntensity" /> <input name="flavorIntensity" type="text"  style="display:none" value ="0"/>
		<br /><br />
		<label for="sweetness">SWEETNESS</label>
		<input  type="text" class="sweetness" /> <input name="sweetness" type="text"  style="display:none" value="0" />
		<br /><br />
		<label for="saltiness">SALTINESS</label>
		<input  type="text" class="saltiness" /> <input name="saltiness" type="text"  style="display:none" value="0" />
		<br /><br />
		<label for="bitterness">BITTERNESS</label>
		<input  type="text" class="bitterness" /> <input name="bitterness" type="text"  style="display:none" value="0" />
		<br /><br />
		<label for="sourness">SOURNESS</label>
		<input  type="text" class="sourness" /> <input name="sourness" type="text"  style="display:none" value="0" />
		<br /><br />
		<label for="spiciness">SPICINESS</label>
		<input  type="text" class="spiciness"  /> <input name="spiciness" type="text"  style="display:none" value="0" />
		<br /><br />
		<label for="url">URL</label>
		<input name="url" type="text" value="" placeholder="wiki URL" />

		<label for="benefits">BENEFITS</label>
		<input name="benefits" type="text" value="" placeholder="benefits" />
		<br  />
		<input type="submit" value="Submit" class="btn btn-primary"/>
		<br  /><br  />

	</form>
</template>